body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: rgb(4, 4, 54);
    padding: 10px;
}

header h1 {
    text-align: center;
    color: white;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
}

#search {
    float: left;
    padding: 10px;
    margin-right: 10px;
    background-color: rgb(236, 235, 235);
}

#cityInput {
    width: 80%;
}

.searchBtn i {
    color: white;
}

#cityResult {
    float: left;
    padding: 15px;
}

/*topDiv*/
.current {
    border: rgb(236, 235, 235) solid 1px;
    padding: 10px;
    width: 100%;
}

.current h2 {
    margin-bottom: 20px;
}

/*botDiv*/
.forecast {
    margin-top: 10px;
    width: 100%;
}

/*5 forecast boxes*/
.forecastDay {
    background-color: rgb(0, 81, 255);
    float: left;
    color: white;
    margin-right: 10px;
}

