body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: rgb(4, 4, 54);
    padding: 10px;
}

header h1 {
    text-align: center;
    color: white;
}

.container {
    margin: 0 auto;
    padding: 0;
}

#search {
    float: left;
    padding: 10px;
    background-color: rgb(236, 235, 235);
}

#cityInput {
    width: 80%;
}

.searchBtn i {
    color: white;
}

#cityResult {
    float: left;
}

/*topDiv*/
.current {

}

/*botDiv*/
.forecast {

}

/*5 forecast boxes*/
.forecastDay {

}

